@font-face {
  font-family: "roboto";
  src: url(fonts/roboto-variablefont_wdthwght-webfont.woff2) format('woff2'),
    url(fonts/roboto-variablefont_wdthwght-webfont.woff) format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: roboto, sans-serif;
}


.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 100px 20px 30px;
}

.header .first-bar {
  display: flex;
}

.first-bar form {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 10px;
}

.first-bar input {
  width: 600px;
}

.first-bar img {
  width: 34px;
}

.first-bar p {
  display: inline-block;
}

.first-bar .user-info {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 20px;
}

.user-info .user-icon {
  background-color: #f2cc31;
  padding: 5px;
  border-radius: 50%;
  width: 60px;
}

.header .second-bar {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.second-bar .greet {
  justify-self: start;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
}

.greet img {
  background-color: #f2cc31;
  padding: 5px;
  border-radius: 50%;
  width: 80px;
}

.second-bar nav {
  justify-self: stretch;
}

.second-bar>nav>ul {
  text-align: center;
  display: grid;
  grid-auto-flow: column;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: #4692d2;
  color: white;
  display: grid;
  align-content: start;
  gap: 40px;
  padding: 20px;
}

.sidebar .heading {
  display: grid;
  grid-auto-flow: column;
}

.heading h1 {
  align-self: center;
  margin-left: -20px;
}

.sidebar>ul {
  margin-left: 10px;
  display: grid;
  gap: 15px;
}

.sidebar>ul>li {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-content: center;
  gap: 20px;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

main .projects {
  grid-row: 1 / 3;
}